<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="tlayout/all::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>purchasedetailspage</title>
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <script th:src="@{/js/jquery-1.8.3.min.js}"></script>
</head>
<body>
<section>
    <table class="table-bordered text-center">
        <tr>

            <th>
                Purchase id
            </th>

            <th>
                ordercode
            </th>
            <th>
                Shipmentcode
            </th>

            <th >
                User Type
            </th>
            <th>
                Reference Number
            </th>
            <th>
                Quality Check
            </th>
            <th>
                Default status
            </th>
            <th>
                Description
            </th>
        </tr>
        <tr th:each="purchase:${purchases}">
            <td th:text="${purchase.id}"></td>
            <td th:text="${purchase.ordercode}"></td>
            <td th:text="${purchase.shipmentmodel.shipmentcode}"></td>
            <td th:text="${purchase.user.usertype}"></td>
            <td th:text="${purchase.referencenumber}"></td>
            <td th:text="${purchase.qualitycheck}"></td>
            <td  class="alert-info"  th:text="${purchase.defaultstatus}"></td>
            <td th:text="${purchase.description}"></td>
            <td><a th:href="@{/purchase/update/{id}(id=${purchase.id})}"><b> <i>Update</i></b></a></td>
            <td><a th:href="@{/purchase/delete/{id}(id=${purchase.id})}"><b> <i>Delete</i></b></a></td>
            <!--this is hyperlink for purhase order details html page-->
            <td><a th:href="@{/purchase/dtls/{id}(id=${purchase.id})}"><b> <i>Parts</i></b></a></td>
            <div th:switch="${purchase.defaultstatus}">
                <span th:case="${'ORDERED'}"><td><a th:href="@{/purchase/invoiceorder/{id}(id=${purchase.id})}"><b> <i>Generate Invoice</i></b></a></td></span>
                <span th:case="${'INVOICED'}"><td><a th:href="@{/purchase/printinvoice/{id}(id=${purchase.id})}"><b> <i>Download Invoice</i></b></a></td></span>
                <span th:case="${'PICKING'}"><td>STILL - PICKING</td></span>
                <span th:case="${'OPENED'}"><td>ITEMS TO BE SELECTED</td></span>
            </div>

        </tr>


    </table>
    <br><br>
    <div class="alert-dismissible">
        <p th:text="${message}"></p>
    </div>
</section>
</body>
</html>