<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="tlayout/all::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Uom details page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

</head>
<body>
<section>
    <div class="card-header text-center">
        <h1>UOM Details Page</h1>
    </div>
    <div class="container-fluid">

        <table border="1" class="table-bordered">
            <tr>

                <th>Uom Id</th>
                <th>Uom Type</th>
                <th>Uom Model</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="uom:${uoms.content}">
                <td th:text="${uom.uomid}"></td>
                <td th:text="${uom.uomtype}"></td>
                <td th:text="${uom.uommodel}"></td>
                <td th:text="${uom.description}"></td>
                <td><a class="btn btn-warning" th:href="@{/uom/update/{id}(id=${uom.uomid})}"><i> Update</i></a></td>
                <td><a class="btn btn-danger" th:href="@{/uom/delete/{id}(id=${uom.uomid})}"><i> Delete</i></a></td>
            </tr>
        </table>
        <hr>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li  class="page-item "  th:if="${uoms.hasPrevious()}">
                    <a class="page-link" th:href="@{/uom/(uom.number-1)}" tabindex="-1">Previous</a>

                </li>
                <th:block th:each="i:${#numbers.sequence(0,uoms.totalPages)}">
                    <li class="page-item">
                        <a class="page-link"  th:href="@{/uom/(page=${i})}" >[[${i+1}]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${uoms.hasNext()}">
                    <a class="page-link" th:href="@{/uom/(uom.number+1)}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <div><a class="btn btn-primary" href="/uom/register"><i>Click Here To Register</i></a></div>

    <br>
    <div th:if="${message!=null}">
        <div class="card-footer bg-info text-white text-center">
        <b><span th:text="${message}"></span></b>
        </div>
    </div>
</section>
</body>
</html>